@import '../../variables.scss';

.circle {
    position: absolute;
    border-radius: 50%;

    &_1 {
        width: 152px;
        height: 152px;
        right: 9%;
        top: -85px;
        background: $gradient4;
        transform: rotate(-26deg);

        @media screen and (max-width: ($laptop - 1)) {
            top: -50px;
            right: -30px;
            width: 88px;
            height: 88px;
        }
    }

    &_2 {
        width: 84px;
        height: 84px;
        left: 14%;
        top: 120px;
        background: $gradient5;
        transform: rotate(8deg);

        @media screen and (max-width: ($laptop - 1)) {
            top: 180px;
            width: 22px;
            height: 22px;
        }

        @media screen and (max-width: ($tablet - 1)) {
            top: 65px;
            left: 6%;
        }

        @media screen and (max-width: ($tablet-small - 1)) {
            top: 75px;
        }

        @media screen and (max-width: ($mobile - 1)) {
            top: 100px;
        }
    }

    &_3 {
        width: 132px;
        height: 132px;
        right: 12%;
        bottom: 140px;
        background: $gradient4;
        filter: blur(12px);
        transform: rotate(-26deg);

        @media screen and (max-width: ($laptop - 1)) {
            right: 6%;
            bottom: 80px;
            width: 63px;
            height: 63px;
        }

        @media screen and (max-width: ($tablet - 1)) {
            right: 20px;
            bottom: 20px;
        }
    }
}
