@import '../../variables.scss';
@import '../../helpers.scss';

.advantages {
    --gap: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    max-width: calc(600px + var(--gap));

    @media screen and (max-width: ($tablet - 1)) {
        --gap: 35px;
    }

    @media screen and (max-width: ($tablet-small - 1)) {
        grid-template-columns: 1fr;
        max-width: 300px;
    }

    &__item {
        // TODO порядок элементов в мобильной версии странно меняется.
        // Уточнила бы у дизайнера и, если необходимо, установила бы элементам свойство order
        --bottom-height: 20px;
        position: relative;
        background-color: rgba(51, 62, 81, 0.7);
        border-radius: 20px;
        margin-bottom: var(--bottom-height);
        text-align: center;
        @include font('card');
        letter-spacing: -0.7px;
        z-index: 1;

        @media screen and (max-width: ($tablet-small - 1)) {
            --bottom-height: 17px;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: calc(-1 * var(--bottom-height));
            left: 20px;
            width: calc(100% - 40px);
            height: var(--bottom-height);
            z-index: -1;
            background: rgba(51, 62, 81, 0.6);
            border-radius: 0 0 20px 20px;
        }

        &-inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 45px 22px 50px;
        }
    }

    &__image {
        @media screen and (max-width: ($tablet - 1)) {
            max-width: 114px;
        }
    }
}
