@import '/src/helpers.scss';
@import '/src/variables.scss';

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    &__inner {
        --header-top-offset: 30px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: var(--header-top-offset);
        padding: 2px 0;

        @media screen and (max-width: ($laptop - 1)) {
            padding: 0;
        }

        @media screen and (max-width: ($tablet - 1)) {
            --header-top-offset: 20px;
        }

        &::before {
            content: '';
            position: absolute;
            width: 415px;
            height: 415px;
            left: -300px;
            top: 50%;
            border-radius: 50%;
            background: $gradient2;
            filter: blur(86px);
            transform: rotate(12deg) translateY(-50%);
            z-index: -1;

            @media screen and (max-width: ($tablet - 1)) {
                left: -130px;
                width: 238px;
                height: 238px;
            }
        }
    }
}

.overlay-visible .header {
    right: var(--scroll-width, 0);
}
