@import './variables.scss';

@mixin font($name: 'default') {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: var(--fw-#{$name});
    font-size: var(--fs-#{$name});
    line-height: var(--lh-#{$name});
}
