// colors
$color-text-dark: #242424;
$color-white: #ffffff;
$color-accent: #c3f33b;
$color-main: #1d2532;
$color-text-light: #cecece;
$color-text-middle: #757575;
$color-text-dark: #242424;

// sizes
$header-height: 90px; // TODO
$container: 1280px;
$container-offset: 23px;
$radius: 20px;

// font
$fs-default: 23px;
$lh-default: 1.2;
$fs-h1: 72px;
$lh-h1: 1.05;
$fs-h2: 45px;
$lh-h2: 1.3;
$fs-h3: 45px;
$lh-h3: 1.05;
$fs-h4: 23px;
$lh-h4: 1.2;

$fs-btn: 20px;
$lh-btn: 1.3;
$fs-btn-outline: 16px;
$lh-btn-outline: 1.18;
$fs-btn-form: 18px;
$lh-btn-form: 1.22;

// others
$gradient: linear-gradient(92.84deg, #1dd844 1.44%, #cbf62e 126.29%);
$shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
