@import '../../variables.scss';

.banner {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;

    &__text {
        max-width: 56%;
    }

    &__content {
        max-width: 500px;
        margin-bottom: 67px;
        color: $color-text-light;
    }

    &__picture {
        position: absolute;
        top: 50%;
        right: -44px;
        transform: translateY(-50%);

        &::before {
            content: '';
            position: absolute;
            width: 88px;
            height: 88px;
            left: -26%;
            top: 13%;
            border-radius: 50%;
            background: $gradient3;
            filter: blur(2px);
            transform: rotate(-25deg);
        }
    }
}
